<!--


  @if(NFTDataList != null && false ){
                @foreach( NFTData item in NFTDataList)
                {

                    if (@item.IsOfficial)
                    {
                        if (@item.IsOpen)
                        {
                            /*官方 販售中NFT*/
                            <div class="NFTcard card-bg-red">
                                <div class="heart btn p-0 tippy-pop" data-content="Favorite" >
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                                        <path class="heart__path"
                                        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" />
                                    </svg>
                                </div>

                                <a  class="NFTcardA" href="Products/@item.serialNumber/@item.Number" >
                                @*<a href="@item.LinkURL" target="opensea"> </a>*@
                                    
                                    <div class="NFTcard-inner">

                                        <div class="NFT-cardImg">
                                            <img data-src="@item.ImgPath" alt=""  onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                                        </div>
                                        
                                        <div class="NFT-cardText">
                                            <div class="NFT-Number"> #PPSR @item.Number</div>
                                            <div class="NFT-Name" data-i18n=NFT_data:@item.serialNumber>@item.serialNumber</div>
                                            <div class="NFT-PriceBlock">
                                                <div class="NFT-PriceMain" >
                                                    <div class="NFT-PriceIcon-Border" title="ETH ON POLYGON" data-content="ETH ON POLYGON">
                                                        <img class="NFT-PriceIcon" data-src="/images/MarketPlace/Polygon-eth-01.webp" alt="ETH ON POLYGON">
                                                    </div>
                                                    <span class="NFT-Price">@item.Price</span>
                                                </div>
                                                @*<div class="NFT-USD">@item.USD USD</div>*@
                                            </div>
                                            @*<div class="NFT-EndTime">Ends in @item.CalDays</div>*@
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>
                        }
                        else
                        {
                            /*官方 預定販售NFT*/
                            <div class="NFTcard card-bg-grey">
                                <div class="heart btn p-0 tippy-pop" data-content="Favorite" >
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                                        <path class="heart__path"
                                        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" />
                                    </svg>
                                </div>

                                <a class="NFTcardA" href="Products/@item.serialNumber/@item.Number" >
                                @*<a href="item.LinkURL" target="opensea"> </a>*@

                                    <div class="NFTcard-inner">
                                    
                                        <div class="NFT-cardImg">
                                            <img data-src="@item.ImgPath" alt=""   onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                                        </div>

                                        <div class="NFT-cardText">
                                            <div class="NFT-Number">#PPSR @item.Number</div>
                                            <div class="NFT-Name" data-i18n=NFT_data:@item.serialNumber>@item.serialNumber</div>
                                            <div class="NFT-PriceBlock">
                                                <div class="NFT-PriceMain">
                                            
                                                    <span class="NFT-Price" data-i18n="Inventory_data:sortOptions.ComingSoon">ComingSoon</span>
                                                </div>
                                            @*  <div class="NFT-USD">231269.89 USD</div>*@
                                            </div>
                                            @*<div class="NFT-EndTime">Ends in 30d 12h</div>*@
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        /*玩家販售*/
                        if (@item.IsOpen)
                        {
                            <div class="NFTcard card-bg-green">
                                <div class="heart btn p-0 tippy-pop" data-content="Favorite" >
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                                        <path class="heart__path"
                                        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" />
                                    </svg>
                                </div>

                                <a class="NFTcardA" href="Products/@item.serialNumber/@item.Number" >
                                @*<a href="@item.LinkURL" target="opensea">  </a>*@
                                
                                    <div class="NFTcard-inner">
                                        <div class="NFT-cardImg">
                                            <img data-src="@item.ImgPath" alt=""  onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                                        </div>
                                    
                                        <div class="NFT-cardText">
                                            <div class="NFT-Number"> #PPSR @item.Number</div>
                                            <div class="NFT-Name" data-i18n=NFT_data:@item.serialNumber>@item.serialNumber</div>
                                            <div class="NFT-PriceBlock">
                                                <div class="NFT-PriceMain" >
                                                    <div class="NFT-PriceIcon-Border" title="ETH ON POLYGON" data-content="ETH ON POLYGON">
                                                        <img class="NFT-PriceIcon" data-src="/images/MarketPlace/Polygon-eth-01.webp" alt="ETH ON POLYGON">
                                                    </div>
                                                    <span class="NFT-Price">@item.Price</span>
                                                </div>
                                            @* <div class="NFT-USD">@item.USD USD</div>*@
                                            </div>
                                            @*<div class="NFT-EndTime">Ends in @item.CalDays</div>*@
                                        </div>
                                    </div>
                                </a>
                            
                            </div>
                        }
                        else
                        {
                            <div class="NFTcard card-bg-green">
                                <div class="heart btn p-0 tippy-pop" data-content="Favorite">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.001 20.005">
                                        <path class="heart__path"
                                        d="M11.445,20.761,3.576,12.566a5.762,5.762,0,0,1,.3-8.217,5.243,5.243,0,0,1,7.807.892L12,5.677l.314-.436a5.243,5.243,0,0,1,7.807-.892,5.762,5.762,0,0,1,.3,8.217l-7.869,8.194A.763.763,0,0,1,11.445,20.761Z"
                                        transform="translate(-0.999 -1.995)" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" />
                                    </svg>
                                </div>

                                <a class="NFTcardA" href="Products/@item.serialNumber/@item.Number" >
                                @*<a href="@item.LinkURL" target="opensea"></a>*@
                                    
                                    <div class="NFTcard-inner">

                                        <div class="NFT-cardImg">
                                            <img data-src="@item.ImgPath" alt=""   onerror="this.src='/images/MarketPlace/NFTproduct.webp'">
                                        </div>
                                    
                                        <div class="NFT-cardText">

                                            <div class="NFT-Number">#PPSR @item.Number</div>
                                            <div class="NFT-Name" data-i18n=NFT_data:@item.serialNumber>@item.serialNumber</div>
                                            <div class="NFT-PriceBlock">
                                                <div class="NFT-PriceMain">
                                                    @* <div class="NFT-PriceIcon-Border">
                                                        <img class="NFT-PriceIcon"  src="/images/MarketPlace/Polygon-eth-01.webp" alt="ETH ON POLYGON"  title="ETH ON POLYGON">
                                                        </div> *@
                                                    <span class="NFT-Price" data-i18n="Inventory_data:sortOptions.ComingSoon">ComingSoon</span>
                                                </div>
                                                @*<div class="NFT-USD">231269.89 USD</div>*@
                                            </div>
                                            @*<div class="NFT-EndTime">Ends in 30d 12h</div>*@
                                        </div>

                                    </div>
                                </a>
                            </div>
                        }

                    }
                    @* if (item == NFTDataList.Last()) AfterRenderLocalize(); *@
                }
            } 
-->

          
    
@code {
 
}
