
@using SnakeAsianLeague.Data.Entity
@using SnakeAsianLeague.Data.Services.Products
@inject ProductsService ProductsService;

<section class="products-section" id="products-Log">
        @* <div class="products-block"> *@
            @* <div class="products-block-title" >Log</div> *@
            <div class="products-block" id="products-Log-block">
        

               <div class="products-Log-Text-Zone">
                   <table>
                    <thead>
                        <tr>
                            <th>承租人</th>
                            <th>出戰時間</th>
                            <th>幣種</th>
                            <th>金幣</th>
                            <th>領取紀錄</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (DataList != null)
                        {
                            @foreach (RecordsLog item in DataList.records)
                            {
                                <tr>
                                    <td>@item.tenantName</td>
                                    <td>@item.dateFormat</td>
                                    <td>@item.currencyTypeName</td>
                                    <td>@item.rent</td>
                                    <td>@item.receivedDateFormat</td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>

               

                   
               </div>
            </div>
        @* </div> *@

        
    </section>
@code {
    [Parameter]
    public string TokenID { get; set; }

    public UnitRecordLog DataList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {       
        DataList = await ProductsService.GetNFTUnitRecord(TokenID);
        StateHasChanged();
    }


    
}
