@using SnakeAsianLeague.Data.Entity
@using SnakeAsianLeague.Data.Services.Products
@inject ProductsService ProductsService;


@if (Ridder.Attrbutes != null)
{
    <section class="products-section" id="products-Attributes">
        <div class="products-block">
            <div class="products-block-title" data-i18n="Inventory_data:NFTDetails.Attributes">Attributes</div>
            <div class="products-block-02" id="products-block-02-Attributes">
                <div class="products-box-block">
                    @* 實際屬性及內容值(圖)由後端串接生成 *@
                    <div class="products-propertyCellreact">
                        <div class="products-property-type" data-i18n="Inventory_data:NFTDetails.Rarity">Rarity</div>
                        <div class="products-property-value">@Ridder.Attrbutes.Rarity</div>
                    </div>

                    <div class="products-propertyCellreact">
                        <div class="products-property-type" data-i18n="Inventory_data:NFTDetails.Element">Element</div>
                        <div class="products-property-value">


                            <img class="products-property-valueImg tippy-pop" data-content=@Ridder.Attrbutes.Element
                            src="@Ridder.Attrbutes.ElementImgPath" alt="">
                            @* <img class="products-property-valueImg tippy-pop" data-content="測試用文字 2222"
                                src="/images/Products/Element-land.webp" alt=""> *@
                        </div>
                    </div>

                    <div class="products-propertyCellreact">
                        <div class="products-property-type" data-i18n="Inventory_data:NFTDetails.BodyType">Body Type</div>
                        <div class="products-property-value">@Ridder.Attrbutes.BodyType</div>
                    </div>
                </div>

                <div  hidden="@(true)" class="products-attributes-description">
                    <div class="products-attributes-description-title">Description</div>
                    <div class="description-item-text">
                        @* 此介紹內容由後端串，超過兩行顯示...，按(see more)展開剩餘內容*@
                        (此介紹內容由後端串)
                        Character Class : @Ridder.Attrbutes.CharacterClass
                        <br>
                        Lucifer was born into a noble......<span class="description-SeeMore">(see more)</span>

                        @* Character Class : Tank

                            Lucifer was born into a noble family from Nord. He studied in Flaine for a couple of years and also
                            became friends with Venus. He's an outspoken person who also loves to act cool but always does silly
                            things. That’s why he never gets a chance to battle against Venus.

                            To evolve his outfit, he even put a decorated wing on his shoulder to match the look of his snake.
                            He truly believes in what he's capable of. Although he is outgoing, he becomes shy while receiving
                            compliments. *@

                        <div class="Flod-Button">(展開時才出現)Flod<svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 0L13.9282 10.5H0.0717969L7 0Z" fill="#69AEA3" />
                            </svg>
                        </div>




                    </div>


                </div>
            </div>
        </div>
    </section>
}

@code{

    [Parameter]
    public RiderIntroduce Ridder { get; set; }
    protected override async Task OnInitializedAsync()
    {
        
        await Refresh();
    }

    private async Task Refresh()
    {       
        Ridder =await ProductsService.Get_RiderIntroduce();
        StateHasChanged();
    }
}