@using SnakeAsianLeague.Data.Entity.Commodity
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Commodity
@using SnakeAsianLeague.Pages.Myprofile.Components.Shared_Components

@inject AppState AppState
@inject CommodityServices CommodityServices
@inject IJSRuntime JS
@inject IConfiguration Configuration

<head>
    <link href="css/MyProfile/SRCgift.css" rel="stylesheet" />   
    <link href="css/Inventory.css" rel="stylesheet" />   
    <link href="css/MarketPlace.css" rel="stylesheet" />   
</head>
<div class="Inventory">
        <div class="Secend-Block">
            <div class="Secend-Title" data-i18n="Inventory_data:otherTitle.Inventory">Inventory</div>
            <div class="Secend-Inner" id="">

                <NFT_Type />

            </div>
        </div>
                 
    <div class="Inventory-PPSR-Block" id="Inventory-PPSR-Block">  
    
        <div class="Inventory-CardBLock">  
            

            @if (IAPItemList != null)
            {

                @foreach (IAPItem item in IAPItemList)
                {

                    var SRCValue = @item.addValue + @item.addPlus;

                    <div class="NFTcard card-bg-DarkSeaGreen">  
                        <div class="NFTcardA" >
                            @*<a href="@item.LinkURL" target="opensea">  </a>*@

                            <div class="NFTcard-inner">
                                <div class="NFT-cardImg">
                                    <img src= "@item.productUrl" alt="" >
                                </div>
                                <div class="NFT-cardText Not-Price-Ver">
                                    <div class="giftData-container"    >
                                        <div class="giftData-title">  </div>
                                        <div class="srcZone-container">
                                            <div class="giftData-srcZone">
                                                <img  class="srcZone-img" src="/images/Myprofile/SRC.webp"/>
                                                <span class="srcZone-num" > SRC @SRCValue</span>

                                                
                                            </div>
                                        </div>

                                        <div class="giftData-btn-container">

                                            <div class="usdValuation">  <span>≈USD</span> @item.priceUSD<span></span></div>
                                            <button class="giftData-btn"  @onclick="@(async ()=>{ await BuyPurchase( item.priceUSDT , item.productID);})" > 
                                                <span>USDT</span> <span class="giftData-btn-nun">@item.priceUSDT</span></button>

                                        </div>
                                    </div>

                                </div>               
                            </div>                     
                        </div>        
                    </div>
                }
            }
            @*<div class="NFTcard card-bg-red">  
                <a class="NFTcardA" href="" >
                    <div class="NFTcard-inner">
                        <div class="NFT-cardImg">
                            <img src="" alt="" >
                            <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                        </div>
                        <div class="NFT-cardText Not-Price-Ver">
                        </div>               
                    </div>                     
                </a>
            </div>*@
                       
       

     
            @*<div class="NFTcard card-bg-red">  
                <a class="NFTcardA" href="" >
                    <div class="NFTcard-inner">
                        <div class="NFT-cardImg">
                            <img src="" alt="" >
                            <div class="NFTcard-remark tippy-pop" data-content="This PPSR is temporarily under maintenance." data-i18n="Inventory_data:NFTDetails.UnderMaintenance;[data-content]Inventory_data:NFTDetails.PPSRmaintenance">Under Maintenance</div>
                        </div>
                        <div class="NFT-cardText Not-Price-Ver">
                        </div>               
                    </div>                     
                </a>        
            </div>*@

        </div>

    </div>


</div>

@*交易中反灰*@
<TransactWindow></TransactWindow>

@code {
    private List<IAPItem> IAPItemList;
    private IJSObjectReference? PurchaseApproveJS;
    private IJSObjectReference? coinEchangeJS;


    protected override async Task OnInitializedAsync()
    {
        IAPItemList = await CommodityServices.GetIAPItem();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {         
            PurchaseApproveJS  = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/BuyPurchase/PurchaseApprove.js");       
            coinEchangeJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/InventoryAndMarketPlace/coinEchange.js");  
             //await JS.InvokeVoidAsync("NFTcardAClick");   
        }
    }

    bool transactionResult;
    public async Task BuyPurchase( decimal USDT,  string productID )
    {

        uint UserID = AppState.LoginStatus.userID;

        await coinEchangeJS.InvokeVoidAsync("lockWindowsShow");
        transactionResult =await PurchaseApproveJS.InvokeAsync<bool>("PurchaseApprove",USDT ,Configuration["USDT_token_addr"],Configuration["PurchaseApprove_address"]);




        if (transactionResult)
        {
            bool result = await CommodityServices.PurchaseByUSDT( UserID, USDT, productID);
        }
        

       await coinEchangeJS.InvokeVoidAsync("lockWindowsHide");

    }
}
