@page "/teach/{router}"
@using SnakeAsianLeague.Pages.Teach.Components
@using SnakeAsianLeague.Data.Entity.View
<head>
    <link href="/css/Teach/Teach.css" rel="stylesheet" />
</head>


 <div class='teach-container' >
    
        <CascadingValue Value="@SetpTextData">
            <TeachNavBar Value=@SquareData squareClick="squareClick"/> 
        </CascadingValue>
   <div class="main-container">
 @switch (router)
    {
        case "create-metamask":
<<<<<<< HEAD
            <CascadingValue Value="@SetpTextData[0,0]">
=======
            <CascadingValue Value="@title1">
>>>>>>> bacc98723e14564de42adfc40b3d6c918d545a9b
                <CreateMetamask />
            </CascadingValue>
            break;
        case "connect-opensea":
<<<<<<< HEAD
            <CascadingValue Value="@SetpTextData[1,0]">
=======
            <CascadingValue Value="@title2">
>>>>>>> bacc98723e14564de42adfc40b3d6c918d545a9b
                <ConnectOpensea />
            </CascadingValue>
         
            break;
<<<<<<< HEAD
        case "create-PonPonSnake-game":
            <CascadingValue Value="@SetpTextData[2,0]">
=======
       @* case "create-PonPonSnake-game":
            <CascadingValue Value="@SetpTextData[2]">
>>>>>>> bacc98723e14564de42adfc40b3d6c918d545a9b
                 <CreatePonPonSnakeGame />
            </CascadingValue>
           
            break;      
        case "connect-game-account":
            <CascadingValue Value="@SetpTextData[3,0]">
                  <ConnectGameAccount />
            </CascadingValue>
           
            break;      
        case "download-and-play":
            <CascadingValue Value="@SetpTextData[4,0]">
                    <DownloadAndPLAY />
            </CascadingValue>        
            break;    *@  
    }
    </div>
    <TeachDot Value=@SquareData squareClick="squareClick" />
 </div>
@code {
    [Parameter]
    public string router { get; set; } = "index";

    public string[,] SetpTextData =  new string[5,2]
    {
     {"1. Create Metamask Account and Connect with Polygon","What exactly is MetaMask? To transact with a blockchain, you'll need a cryptocurrency wallet. This wallet is your key to the crypto universe. It gives you the ability to purchase, sell, or transfer assets on the blockchain."},
     {"2.Connect Metamask to your Opensea",""},
     {"3.Create your PonPonSnake Game Account",""},
     {"4.Connect Metamask to your Game Account",""},
     {"5.Download and PLAY!",""},
    };


    public string[][] SquareData =  new string[5][]
    {
      new string[4]{ "1","/images/Teach/nav/STEP1_LOGO.png" , "true" ,"/teach/create-metamask"},
      new string[4]{ "2","/images/Teach/nav/STEP2_LOGO.png" , "false","/teach/connect-opensea"},
      new string[4]{ "3","/images/Teach/nav/STEP3_LOGO.png" , "false","/teach/create-PonPonSnake-game"},
      new string[4]{ "4","/images/Teach/nav/STEP4_LOGO.png" , "false","/teach/connect-game-account"},
      new string[4]{ "5","/images/Teach/nav/STEP5_LOGO.png" , "false","/teach/download-and-play"},
    };

    public void squareClick(string value)
    {
        foreach (var Data in SquareData)
        {
            if (Data[0] == value)
            {
                Data[2] = "true";
            }
            else
            {
                Data[2] = "false";
            }
        }
    }
    @*
        public class TeachData
        {
        public string[]? SetpTextData { get; set; }    
        public string[][]?SquareData{ get; set; }
        public void changeNum() {


        }
        }

        private TeachData TeachAllData = new() {
        SetpTextData =  new string[5]
        {
        "1. Create Metamask Account and Connect with Polygon",
        "2.Connect Metamask to your Opensea",
        "3.Create your PonPonSnake Game Account",
        "4.Connect Metamask to your Game Account",
        "5.Download and PLAY!"
        },
        SquareData =  new string[5][]
        {
        new string[4]{ "1","/images/Teach/nav/STEP1_LOGO.png" , "true" ,"/teach/create-metamask"},
        new string[4]{ "2","/images/Teach/nav/STEP2_LOGO.png" , "false","/teach/connect-opensea"},
        new string[4]{ "3","/images/Teach/nav/STEP3_LOGO.png" , "false","/teach/create-PonPonSnake-game"},
        new string[4]{ "4","/images/Teach/nav/STEP4_LOGO.png" , "false","/teach/connect-game-account"},
        new string[4]{ "5","/images/Teach/nav/STEP5_LOGO.png" , "false","/teach/download-and-play"},
        },


        };*@



    private Title title1 = new Title("1. Create Metamask Account and Connect with Polygon","subtitle1"); 
    private Title title2 = new Title("2.Connect Metamask to your Opensea","subtitle2"); 
}
