@page "/GettingStarted/{router?}"
@using SnakeAsianLeague.Pages.Teach.Components
@using SnakeAsianLeague.Data.Entity.View

<head>
    <link href="/css/Teach/Teach.css" rel="stylesheet" />
</head>


 <div class='teach-container' >
    
    <CascadingValue Value="@SetpTextData">
        <TeachNavBar Value=@SquareData squareClick="squareClick"/> 
    </CascadingValue>

   <div class="main-container">
        @switch (router)
        {
            case "create-metamask":
                <CascadingValue Value="@title1">
                    <CreateMetamask />
                </CascadingValue>
                break;
            case "connect-opensea":
                <CascadingValue Value="@title2">
                    <ConnectOpensea />
                </CascadingValue>
         
                break;
            case "create-PonPonSnake-game":
                <CascadingValue Value="@title3">
                        <CreatePonPonSnakeGame />
                </CascadingValue>
           
                break;      
            case "connect-game-account":
                <CascadingValue Value="@title4">
                        <ConnectGameAccount />
                </CascadingValue>
           
                break;      
            case "download-and-play":
                <CascadingValue Value="@title5">
                        <DownloadAndPLAY />
                </CascadingValue>        
                break;    
        }
    </div>

    <TeachDot Value=@SquareData squareClick="squareClick" />
 </div>
@code {
    [Parameter]
    public string? router { get; set; } 

    protected override void OnInitialized()
    {
        router = router ?? "index";

         foreach (var Data in SquareData)
        {
            if (Data[4] == router)
            {
                Data[2] = "true";
            }
            else
            {
                Data[2] = "false";
            }
        }
    }

    public string[][] SquareData =  new string[5][]
    {
      new string[5]{ "1","/images/teach/nav/STEP1-LOGO.png" , "false" ,"/GettingStarted/create-metamask" ,"create-metamask"},
      new string[5]{ "2","/images/teach/nav/STEP2-LOGO.png" , "false","/GettingStarted/connect-opensea","connect-opensea"},
      new string[5]{ "3","/images/teach/nav/STEP3-LOGO.png" , "false","/GettingStarted/create-PonPonSnake-game","create-PonPonSnake-game"},
      new string[5]{ "4","/images/teach/nav/STEP4-LOGO.png" , "false","/GettingStarted/connect-game-account","connect-game-account"},
      new string[5]{ "5","/images/teach/nav/STEP5-LOGO.png" , "false","/GettingStarted/download-and-play","download-and-play"},
    };

    public void squareClick(string value)
    {
        foreach (var Data in SquareData)
        {
            if (Data[0] == value)
            {
                Data[2] = "true";
            }
            else
            {
                Data[2] = "false";
            }
        }
    }

 
   

 


    public string[] SetpTextData =  new string[5]
    {
         "1. Create Metamask Account and Connect with Polygon",
         "2. Connect Metamask to your Opensea",
         "3. Create your PonPonSnake Game Account",
         "4. Connect Metamask to your Game Account",
         "5. Download and PLAY!",
    };
    private Title title1 = new Title("1. Create Metamask Account and Connect with Polygon","What exactly is MetaMask? To transact with a blockchain, you'll need a cryptocurrency wallet. This wallet is your key to the crypto universe. It gives you the ability to purchase, sell, or transfer assets on the blockchain."); 
    private Title title2 = new Title("2. Connect Metamask to your Opensea","For NFT purchase and sell transactions, OpenSea is utilized. Bidding on Opensea will get you the PonPonSnake Rider and Avatar. Connecting Opensea to your Metamask allows you to sync wallet info together.");
    private Title title3 = new Title("3. Create your PonPonSnake account","Create your in-game account. Enter your phone, and we will send a 6 digit code to your phone."); 
    private Title title4 = new Title("4. Connect Metamask to your Game Account","In order to let PonPonSnake NFT be used in our game, we will need you to connect your Metamask wallet, so we can sync your data. All the earnings in the game will be sent to your metamask wallet.");  
    private Title title5 = new Title("5. Download and PLAY!","All Done! Now you can start your adventure in PonPonSnake!"); 
}
