@using SnakeAsianLeague.Data.Entity.SnakeServer
@using SnakeAsianLeague.Data.Services.SnakeServerService

@inject AsiaLeaguePlaceService AsiaLeaguePlaceService

<div id="Ranking" class="Ranking">     
    @*Banner*@

    @if (bannerToggle)
    {
        @*Squad*@
        <div class="Ranking-banner squadBanner">
            <div class="Ranking-banner-bg">
                 <img src="/images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad select-3.png">
                 <button @onclick="()=>changeBanner(false)"></button>                
            </div> 
                  <div class="Ranking-banner-selectContainer">     
                    
                    <div class="Ranking-banner-select"> 
                        
                        <img class ="Bar" src="./images/AsiaChampionsLeague/S3/Ranking/Squad/Ranking_Squad select BAR-1.png" />    
                        <select>
                            @foreach(var date in squadOption)
                            {
                                    <option>@date</option>
                            }         
                        </select>
                    </div>
                </div>
        </div>
    }
    else
    {
        @*solo*@
        <div class="Ranking-banner soloBanner">
            <div class="Ranking-banner-bg">              
                 <img src="/images/AsiaChampionsLeague/S3/Ranking/SOLO/Ranking_Soloselect-3.png">
                 <button @onclick="()=>changeBanner(true)"></button>
            </div> 
               <div class="Ranking-banner-selectContainer">  
               
                    <div class="Ranking-banner-select"> 
                       
                        <img class ="Bar" src="./images/AsiaChampionsLeague/S3/Ranking/SOLO/Ranking_Solo Select Bar-1.png" />    
                        <select>
                        @foreach(var date in soloOption)
                        {
                             <option>@date</option>
                        }                       
                        </select>
                    </div>
                 </div>
        </div>
    }    
    @*Date*@
    
    <div class="Ranking-Date" >
        <p>Qualification Date : 5/29 ~ 5/28</p>
    </div>
                
    @*Place*@
    <div class="Ranking-Place">
        <div class="Ranking-Place-left">
            @*第一名*@
            <div class="Ranking_First">
                <img class="shineCrown" src="/images/AsiaChampionsLeague/S3/Ranking/Place/pngegg.png"/>
                <img  src="/images/AsiaChampionsLeague/S3/Ranking/Place/皇冠1.png"/>
                <h3>
                    @topThree[0][0]
                </h3>
                <p>
                    @topThree[0][1]
                </p>
            </div>
            @*第二名*@
            <div class="Ranking_Second">
                <img  src="/images/AsiaChampionsLeague/S3/Ranking/Place/皇冠2.png"/>
                <h3>
                    @topThree[1][0]
                </h3>
                <p>
                    @topThree[1][1]
                </p>
            </div>
            @*第三名*@
            <div class="Ranking_third">
                <img  src="/images/AsiaChampionsLeague/S3/Ranking/Place/皇冠3.png"/>
                <h3>
                    @topThree[2][0]
                </h3>
                <p>
                    @topThree[2][1]
                </p>
            </div>
        </div>
        <div class="Ranking-Place-right">
            <div class="Ranking-Place-Other">
                @foreach(var name in otherRanking)
                {
                    <div class="Place-Other-container">                  
                        <h3>
                            @name[0]
                        </h3>
                        <p>
                            @name[1]
                        </p>
                    </div>
                }          
            </div>
        </div>
    </div>
</div>
@code {
    public List<AsiaLeaguePlace> Places;
    public Boolean bannerToggle = true;

    public void changeBanner(Boolean value)
    {
        bannerToggle = value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {   
        if (firstRender){
            Places = await AsiaLeaguePlaceService.GetAsiaLeaguePlacesByIsGuildAndStation(AsiaLeagueSeasons.AsiaLeagueS3,false,1);
            Console.WriteLine("test");
        }        
    }

    /*BannerOption*/
    public string[] squadOption = new string[]
    {
        "Silver #W1 2022/07/23",
        "Silver #W2 2022/07/30",
        "Diamond #M1 2022/08/06",
        "Silver #W3 2022/08/20",
        "Silver #W4 2022/08/27",
        "Diamond #M2 2022/09/03",
        "Silver #W5 2022/09/17",
        "Silver #W6 2022/09/24",
        "Diamond #M3 2022/10/01",
        "Master #S1 2022/10/16",
    };

    public string[] soloOption = new string[]
    {
        "Charity #F1 2022/07/20",
        "Silver #W1 2022/07/27",
        "Silver #W2 2022/08/03",
        "Diamond #M1 2022/08/09",
        "Charity #F2 2022/08/16",
        "Silver #W3 2022/08/23",
        "Silver #W4 2022/08/30",
        "Diamond #M2 2022/09/06",
        "Charity #F3 2022/09/13",
        "Silver #W5 2022/09/20",
        "Silver #W6 2022/09/27",
        "Diamond #M3 2022/10/04",
        "Master #S1 2022/10/11",
    };

    /*排名name*/
    public string[][] otherRanking = new string[5][]
    {
        new string[]{ "第四名ID","第四名騎士"},
        new string[]{ "第五名ID","第五名騎士"},
        new string[]{ "第六名ID","第六名騎士"},
        new string[]{ "第七名ID","第七名騎士"},
        new string[]{ "第八名ID","第八名騎士"},
    };
   public string[][] topThree= new string[3][]
    {
        new string[]{ "第一名ID","第一名騎士"},
        new string[]{ "第二名ID","第二名騎士"},
        new string[]{ "第三名ID","第三名騎士"},
    };


}
