@inject IJSRuntime JS
@using SnakeAsianLeague.Data.Entity.View
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Metamask
@using RestSharp;
@using SnakeAsianLeague.Data.Services.Personal

@inject AppState AppState
@inject InventoryService InventoryService
@inject MetamaskTransfer metamaskTransfer 

<head>
    <link href="css/MyProfile/coinExchange.css" rel="stylesheet" />
</head>

<div class="coinEchange-container">
    <div class="coinEchange">
         <button id="coinEchangeCancel" class="coinEchange-CancelBtn"></button>

        <div class="coinNum-Container">
             <div class="coinNum-beteen">
                 <div class="coinTop">
                    <img class="coinEchange-Icon" src="/images/Myprofile/@(Value.imgUrl).webp" alt="">
                    <p class="coinTitle">@Value.gTitle</p>
                    <p class="coinTotalNum">@Value.gNumber</p>
                 </div>

     
             </div>
             <div class="coinNum-mid">
                 <div class="coinTop doubleArrow">
                      <img src="/images/Myprofile/doubleArrow.png"/>
                 </div>
                
             </div>
              <div class="coinNum-beteen">
                 <div class="coinTop">
                    <img class="coinEchange-Icon" src="/images/Myprofile/@(Value.imgUrl).webp" alt="">                                     
                    <p class="coinTitle">@Value.tokenTitle</p>
                    <p class="coinTotalNum">@Value.tokenNumber</p>
                 </div>
     
             </div>
        </div>
        <input class="coin-range" step="0.001" value="@rangeValue"  @onchange="(ChangeEventArgs e)=> coinRange(e)" type="range" min="-@Value.tokenNumber" max="@Value.gNumber"  />
   
        <div class="replacedCoin-zone" >
            <div class="left">
                 <input class="replacedCoin" value="@Value.gNumberChange" @onchange="(ChangeEventArgs e)=> coinInput(e ,true)" />
                    
              
                 <div class="increaseCoin" id="GSRCincrease">
                    @GSRCincrease
                 </div>  
            </div>
            <div class="mid"></div>
            <div class="right">
                 <input class="replacedCoin" value="@Value.tokenNumberChange" @onchange="(ChangeEventArgs e)=> coinInput(e,false)" />
                   
                        
                 <div class="increaseCoin"  id="SRCincrease" >
                    @SRCincrease
                 </div>   
            </div>
        </div>
     @*   <p class="increaseCoin" id="gSRCincrease"> </p>  *@
      
       <div class="coinEchange-BtnZone" >
           <button  id="coinEchangeBtn" class="coinEchange-ExchangeBtn" @onclick="coinEchangeBtn">Exchange</button>
        @*  <button  @onclick="SRCExchangeAllowanceClick">SRCExchangeAllowance </button>
           <button  @onclick="blockChainInfoDTOClick">blockChainInfoDTOClick </button>
           <div>
               <p>SRCExchangeAllowance Data</p>
               <p>@aa</p>
           </div>
            <div>
               <p>blockChainInfoDTO Data</p>
               <p>@bb</p>
           </div>*@
       </div>
    </div>

</div>
@code {
    //private readonly RestRequest test2 = new RestRequest("BackEnd/Accounts", Method.GET);
    [Parameter]
    public EventCallback refresh { get; set;}
    private async Task clickRefresh()
    {
        await refresh.InvokeAsync();   
    }


    [Parameter]
    public ExchangeCoin? Value { get; set; }

    private IJSObjectReference? coinEchangeJS;
    decimal difference=0;
    decimal rangeValue = 0;
    decimal GSRCincrease = 0;
    decimal SRCincrease = 0;
    //private MetamaskTransfer metamaskTransfer ;
    //private InventoryService inventoryService;

    //private InventoryService blockChainInfoDTO  ;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            @*
            var request = new RestRequest(test2.Resource, test2.Method);
            Console.Write(request);*@
            coinEchangeJS = await JS.InvokeAsync<IJSObjectReference>("import","./JavaScript/MyProfile/InventoryAndMarketPlace/coinEchange.js");
            await coinEchangeJS.InvokeVoidAsync("coinEchange" ,".ExchangeBtn");

        }
    }

    public void coinRange  (ChangeEventArgs value)
    {
        difference= decimal.Parse(value.Value.ToString());
        Value.gNumberChange = Value.gNumber- decimal.Parse(value.Value.ToString());
        Value.tokenNumberChange = Value.tokenNumber + decimal.Parse(value.Value.ToString());

        GSRCincrease = -difference;
        SRCincrease = difference;
    }

    public void coinInput(ChangeEventArgs value ,bool SRCcheck)
    {
        //GSRC
        if (SRCcheck)
        {
            if ( Value.gNumber - decimal.Parse(value.Value.ToString())<0){
                difference = 0;                    
            }
            else
            {
                difference  =  Value.gNumber - decimal.Parse(value.Value.ToString());               
            }


        }
        else
        {
            if (Value.tokenNumber - decimal.Parse(value.Value.ToString()) < 0)
            {
                difference = 0;          
            }
            else
            {
                difference  = -( Value.tokenNumber - decimal.Parse(value.Value.ToString()));
            }


        }
        Value.gNumberChange = Value.gNumber- difference;
        Value.tokenNumberChange = Value.tokenNumber + difference;
        rangeValue = difference;

        GSRCincrease = -difference;
        SRCincrease = difference;

        if(difference ==0)
        {
          
            InvokeAsync(StateHasChanged);
        }
    }

    bool transactionResult = false;
    decimal getAuthorizeNum ;
    protected  async void coinEchangeBtn()
    {
        if (difference < 0)
        {
            @*鍊換game*@
            transactionResult =await coinEchangeJS.InvokeAsync<bool>("withdraw", difference *-1);
            if (transactionResult)
            {
                await metamaskTransfer.SRCTransferToDB(AppState.LoginStatus.userID, difference *-1);

            }
            await clickRefresh();
        }
        else
        {
            @*game換鍊*@
            getAuthorizeNum = await InventoryService.SRCExchangeApprove(AppState.LoginStatus.userID.ToString() ,difference);
            transactionResult =await coinEchangeJS.InvokeAsync<bool>("deposit", getAuthorizeNum );
            if (transactionResult)
            {
                await clickRefresh();
            }


        }
        //強制渲染

    }

    //decimal aa;
    //string bb;
    //protected async void SRCExchangeAllowanceClick()
    //{
    //    aa = await InventoryService.SRCExchangeAllowance("0x3DD8F133C30cbc84B246f56cf8659B21595803a5");
    //      InvokeAsync(StateHasChanged);
    //}
    //protected async void blockChainInfoDTOClick()
    //{
    //    bb =await InventoryService.BlockChainInfo();
    //      InvokeAsync(StateHasChanged);
    //}
    

}

