@using SnakeAsianLeague.Data.Entity.View
@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.BlockChain
@inject IJSRuntime JS
@inject AppState AppState
@inject BlockChainProcessorSever BlockChainSever
@inject IConfiguration Configuration

<div class="Secend-Title" data-i18n="Inventory_data:otherTitle.MyCurrency">My Currency</div>

 @*.......修改位置.........*@
<div class="Inner-container" >
        <div class="Inner" >
            <div class="MyCerrency-container">
            <div class=" MyCerrency-between">
                <a class="buyGameCoin" hidden="@(true)">buy</a>
                <img class="MyCerrency-Icon" src="/images/Myprofile/ERNC.png" alt="">
                <div class="MyCerrency-Detail">
                    <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.gERNC">gERNC</p>
                             
                    <p class="MyCerrency-Amount">@CoinData.gERNC</p>
                </div>
            </div>
                <div class=" MyCerrency-mid">
                <img class="doubleArrow" src="/images/Myprofile/doubleArrow.png" alt="">
          
            </div>
                <div class=" MyCerrency-between ">
                <button  class="addWallet tippy-pop" data-content="Add Tokens To MetaMask Wallet" hidden="@(true)"></button>
                <img class="MyCerrency-Icon" src="/images/Myprofile/ERNC.png" alt="">
                <div class="MyCerrency-Detail">
                    <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.ERNCToken">ERNC TOKEN</p>
                             
                    <p class="MyCerrency-Amount">@CoinData.tokenERNC</p>
                </div>
            </div>


            </div>
            <div class="ExchangeBtn-container">
                <button class="ExchangeBtn" @onclick ="()=>ExchangeBtnClick(true) " hidden="@(true)" data-i18n="Inventory_data:otherTitle.Exchange">
                    Exchange
                </button>
            </div>
    </div>

    <div class="Inner" >
        <div class="MyCerrency-container">
        <div class=" MyCerrency-between">
            <a class="buyGameCoin" hidden="@(true)" >buy</a>
            <img class="MyCerrency-Icon" src="/images/Myprofile/SRC.png" alt="">
            <div class="MyCerrency-Detail">
                <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.gSRC">gSRC</p>
                @*預熱活動用*@
                @if (warmUpToggle)
                {
                    <p class="MyCerrency-Amount">0 </p>
                }else{
                    <p class="MyCerrency-Amount">@CoinData.gSRC </p>
                }               
                
            </div>
        </div>
            <div class=" MyCerrency-mid">
            <img class="doubleArrow" src="/images/Myprofile/doubleArrow.png" alt="">
          
        </div>
            <div class=" MyCerrency-between">
                @*預熱活動用 修改*@     
                @if (!warmUpToggle)
                {
                    <button  class="addWallet tippy-pop" data-content="Add Tokens To MetaMask Wallet" @onclick="AddSRCClick"></button>
                }      
              
            <img class="MyCerrency-Icon" src="/images/Myprofile/tokenSRC.png" alt="">
            <div class="MyCerrency-Detail">
                <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.SRCToken">SRC TOKEN</p>
                
                @*預熱活動用*@     
                @if (warmUpToggle)
                {
                   <p class="MyCerrency-Amount" id="tokenSRC">0</p>                    
                }else{
                   <p class="MyCerrency-Amount" id="tokenSRC">@CoinData.tokenSRC</p>
                }
               
               
            </div>
        </div>


        </div>
        <div class="ExchangeBtn-container">
            @*預熱活動用 修改*@
            @if (warmUpToggle)
            {
                <button class="ExchangeBtnTemporary ExchangeBtnTemporary-black" data-i18n="Inventory_data:otherTitle.Exchange"> 
                    Exchange
                </button>
                 <p style="color:#e74c3c;font-size:10px">活動期間：暫無功能</p>
            }else{
                <button data-i18n="Inventory_data:otherTitle.Exchange" class="ExchangeBtn" @onclick ="()=>ExchangeBtnClick(false)" > 
                    Exchange
                </button>
            }          
           
        </div>
    </div>
</div>  
        
<div class="Inner-container" >
    <div class="Inner" >
        <div class="MyCerrency-container">
            <div class=" MyCerrency-between ">
                <button  class="addWallet tippy-pop" data-content="Add Tokens To MetaMask Wallet" hidden="@(true)"></button>
                <img class="MyCerrency-Icon" src="/images/Myprofile/gold.png" alt="">
                <div class="MyCerrency-Detail">
                    <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.Gold">Gold</p>
                             
                        <p class="MyCerrency-Amount">@CoinData.Gold</p>
                    </div>
                </div>
            </div>
            <div class="ExchangeBtn-container">
                <button class="ExchangeBtn" @onclick ="()=>ExchangeBtnClick(true) " hidden="@(true)" data-i18n="Inventory_data:otherTitle.Exchange">
                    Exchange
                </button>
            </div>
    </div>
    @*預熱活動用*@
      @if (warmUpToggle)
        {
        <div class="Inner" >
            <div class="MyCerrency-container">
            <div class=" MyCerrency-between">
                <a class="buyGameCoin" hidden="@(true)" >buy</a>
                <img class="MyCerrency-Icon" src="/images/Myprofile/SRC.png" alt="">
                <div class="MyCerrency-Detail">
                    <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.gSRC">gSRC</p>
                             
                    <p class="MyCerrency-Amount">@CoinData.gSRC </p>
                </div>
            </div>
                <div class=" MyCerrency-mid">
                <img class="doubleArrow" src="/images/Myprofile/doubleArrow.png" alt="">
          
            </div>
                <div class=" MyCerrency-between">
                    <button  class="addWallet tippy-pop" data-content="Add Tokens To MetaMask Wallet" @onclick="AddSRCClick"></button>
                <img class="MyCerrency-Icon" src="/images/Myprofile/tSRC.png" alt="">
                <div class="MyCerrency-Detail">
                    <p class="MyCerrency-Name" data-i18n="Inventory_data:otherTitle.tSRC">tSRC</p>
                             
                    <p class="MyCerrency-Amount" id="tokenSRC">@CoinData.tokenSRC</p>
                </div>
            </div>


            </div>
            <div class="ExchangeBtn-container">
                <button class="ExchangeBtn" @onclick ="()=>ExchangeBtnClickTest()" data-i18n="Inventory_data:otherTitle.Exchange">
                    Exchange
                </button>
            </div>
        </div>      
        }
    
</div>  

@*  <div class="Secend-Inner sssss" id="Secend-Block-MyCerrency">

    <div class="MyCerrency ttttt">
        <img class="MyCerrency-Icon" src="/images/Myprofile/ERNC.webp" alt="">
        <div class="MyCerrency-Detail">
            <p class="MyCerrency-Name">ERNC</p>
                             
            <p class="MyCerrency-Amount">0</p>
        </div>
    </div>
        <div class="MyCerrency ttttt">
        <img class="MyCerrency-Icon" src="/images/Myprofile/MIPR.webp" alt="">
        <div class="MyCerrency-Detail">
            <p class="MyCerrency-Name">MIPR</p>
                            
            <p class="MyCerrency-Amount">0</p>
        </div>
    </div>
    <div class="MyCerrency ttttt">
        <img class="MyCerrency-Icon" src="/images/Myprofile/SRC.webp" alt="">
        <div class="MyCerrency-Detail">
            <p class="MyCerrency-Name">SRC</p>
                              
            <p class="MyCerrency-Amount" id="TotalSRCCount">  @TotalSRCCount </p>
        </div>
    </div>

</div>*@
                   
    @*.......修改位置.........*@

    @*..............騎士幣兌換 coinexchange 彈窗.......................*@
    @if (AppState.LoginStatus.IsLogin)
    {
        <Inventory_CoinExchange Value = "ExchangeCoinData" refresh="refresh"></Inventory_CoinExchange>
    }
@code {
    //預熱活動開關
    bool warmUpToggle;
    [Parameter]
    public EventCallback refresh { get; set;}

    [Parameter]
    public CoinData CoinData { get; set; }

   //點選exchenge時
    public ExchangeCoin ExchangeCoinData = new ExchangeCoin( "ERNC" ,0,0 );
    protected override async Task OnInitializedAsync()
    {
        //預熱活動用
        warmUpToggle = BlockChainSever.BlockChainInfoDTO.eventWarmUpStatus20221108;

    }
    private async Task ExchangeBtnClick(bool whichCoin)
    {
        if (AppState.LoginStatus.IsLogin)
        {
            if (whichCoin)
            {
                ExchangeCoinData.changeData("ERNC", 100, 100);
            }
            else
            {
                ExchangeCoinData.changeData("SRC", CoinData.gSRC, CoinData.tokenSRC);
            }
            await JS.InvokeVoidAsync("installI18n");
        }
        else
        {
            await JS.InvokeVoidAsync("loginButton", "loginButton");
        }

    }

    @*預熱活動用*@
    private async Task ExchangeBtnClickTest()
    {
        if (AppState.LoginStatus.IsLogin)
        {
    @*TSRC*@
            ExchangeCoinData.changeTSRCData("SRC", CoinData.gSRC, CoinData.tokenSRC);           
            await JS.InvokeVoidAsync("installI18n");
        }
        else
        {
            await JS.InvokeVoidAsync("loginButton", "loginButton");
        }

    }

     private async Task AddSRCClick()
    {
        if (AppState.LoginStatus.IsLogin)
        {
    @*預熱活動用 修改*@
        var SRC_token_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_SRC;
        var SRC_Decimals = BlockChainSever.BlockChainInfoDTO.srcDecimals;
        if (warmUpToggle)
        {
            SRC_token_addr = BlockChainSever.BlockChainInfoDTO.contractAddress_tSRC;
            SRC_Decimals = BlockChainSever.BlockChainInfoDTO.tsrcDecimals;
        }          
            await JS.InvokeVoidAsync("AddPolygonSRC",SRC_token_addr ,SRC_Decimals,warmUpToggle);
        }
        else
        {
            await JS.InvokeVoidAsync("loginButton", "loginButton");
        }
    }

}
