@page "/myprofile"

@using SnakeAsianLeague.Data.Services
@using SnakeAsianLeague.Data.Services.Backstage

@using SnakeAsianLeague.Data.Entity.Backstage
@using Microsoft.AspNetCore.Components.Forms
@using SnakeAsianLeague.Data.Services.Interface
@using SnakeAsianLeague.Data.Services.Metamask
@using SnakeAsianLeague.Data.Services.SnakeServerService
@using SnakeAsianLeague.Data.Entity.SnakeServer
@using System.Security.Claims

@inject IJSRuntime JS
@inject AppState AppState
@inject ProfileService ProfileService
@inject IEthereumHostProvider _metamaskHostProvider
@inject NFTService NFTService
@inject AuthenticationStateProvider AuthenticationStateProvider



@implements IDisposable

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/Myaccount.css" rel="stylesheet" />
    <link href="css/Myprofile.css" rel="stylesheet" />
    <link href="css/Sidebar.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>PonPonSnake 碰碰蛇｜MyPage Account</title>
</head>

<AuthorizeView>
    <Authorized>
    <div>
        <MyprofileSidebar /> 

        @* <aside class="myprofileSidebar">
            <div class="myprofileSidebarButton">
                <img src="/images/Myprofile/sidebarLine.png" alt="">
            </div>
            <div class="myprofileSidebarBlock">
                <div class="accountManagement">Account<br>Management</div>
                <ul class="accountManagementUl">
                    <a href="myprofile#Account" id="accountManagementUl-Account" class="current_page"><li data-i18n="Sidebar.Account">Account</li></a>
                    <a href="mymatch" id="accountManagementUl-eSport"><li data-i18n="Sidebar.Esports">eSport</li></a>
                    <a href="myawardnotice" id="accountManagementUl-Reward"><li data-i18n="Sidebar.Reward">Reward</li></a>
                </ul>
            </div>
        </aside> *@

        <main class="myprofileMain">

            <div class="myprofileBlock" id="Account">
                <div class="myprofileBlockTitle" data-i18n="myprofile.account">Account</div>
                <div class="myprofileArea">

                    <div class="informationBackground">
                        <div class="informationDetailOriginal">
                            <div class="personalBlock">
                                <img class="personaAvatar" src="/images/Myprofile/user_icon.png" alt="">

                                <button id="editButton" @onclick="EditProfileButtonOnClick">
                                    <img src="/images/Myprofile/edit_icon.png" alt="">
                                    <span data-i18n="myprofile.edit">Edit</span>
                                </button>
                            </div>

                            <div class="personalInformation">
                                <div class="playerNickname">@AppState.LoginStatus.name</div>
                                <div class="playerInfoRow">
                                    <div class="playerInfoRowTitle" data-i18n="myprofile.gameID">Game ID</div>
                                    <div class="playerInfoRowShow">@AppState.LoginStatus.userID</div>
                                </div>
                                <div class="playerInfoRow">
                                    <div class="playerInfoRowTitle" data-i18n="myprofile.phone">Phone</div>
                                    <div class="playerInfoRowShow">@AppState.LoginStatus.phone</div>
                                </div>

                                @if (!MetamaskAvailable)
                                {

                                    <button class="btnMetamask" disabled>
                                        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">
                                            <span style="margin: 5px 20px;" data-i18n="myprofile.installMetamask">Please Install Metamask</span>
                                        </a>
                                    </button>

                                }
                                else if (MetamaskAvailable && string.IsNullOrEmpty(AppState.LoginStatus.walletAddress))
                                {
                                    <button type="button" class="btnMetamask" @onclick="@EnableEthereumAsync">
                                        <span data-i18n="myprofile.connectMetamask">Connect Metamask</span>
                                        <img src="/images/Myprofile/btnMetamask_icon.png" alt="">
                                    </button>

                                }
                            </div>
                        </div>

                        @if (MetamaskAvailable && !string.IsNullOrEmpty(AppState.LoginStatus.walletAddress))
                        {
                            <div class="metamaskAvailable" title="點擊複製 Address" @onclick="textCopyClick">
                                Address：<span>@AppState.LoginStatus.walletAddress</span>
                                <div id="copyTip">複製成功</div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            @if (MetamaskAvailable && !string.IsNullOrEmpty(AppState.LoginStatus.walletAddress))
            {
                <div class="myprofileBlock" id="Asset">
                    <div class="myprofileBlockTitle" data-i18n="myprofile.asset">Asset</div>

                    <div class="myprofileArea">
                        <div class="informationAssetBlockAll">
                            <div class="informationAssetBlock">
                                <a href="myprofile">
                                    <div class="assetItem">
                                        <img class="assetIcon" src="/images/Myprofile/ERNC.png" alt="">
                                        <span>ERNC</span>
                                    </div>
                                    <div class="assetValue">0</div>
                                </a>
                            </div>

                            <div class="informationAssetBlock">
                                <a href="myprofile">
                                    <div class="assetItem">
                                        <img class="assetIcon" src="/images/Myprofile/MIPR.png" alt="">
                                        <span>MIPR</span>
                                    </div>
                                    <div class="assetValue">0</div>
                                </a>
                            </div>

                            <div class="informationAssetBlock">
                                <a href="myprofile">
                                    <div class="assetItem">
                                        <img class="assetIcon" src="/images/Myprofile/SRC.png" alt="">
                                        <span>SRC</span>
                                    </div>
                                    <div class="assetValue">0</div>
                                </a>
                            </div>

                            <div class="informationAssetBlock">
                                <a href="Inventory">
                                @* <a href="myprofile"> *@
                                    <div class="assetItem">
                                        <img class="assetIcon" src="/images/Myprofile/Knight.png" alt="">
                                        <span>Rider</span>
                                    </div>
                                    <div class="assetValue">0</div>
                                </a>
                            </div>
                            <div class="informationAssetBlock" id="informationAssetBlock-Lock">
                                <div class="assetItem">
                                    <img class="ICON_Lock"  src="/images/Myprofile/ICON_Lock.png" alt="">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                @* <div class="myprofileBlock" id="Activities">
                    <div class="myprofileBlockTitle" data-i18n="myprofile.activities">Activities</div>
                    <div class="myprofileArea">
                        <div class="ActivitiesRow">
                            <span>XXXXXXXXXXXXXX</span>
                        </div>
                    </div>
                    <div class="myprofileArea">
                        <div class="ActivitiesRow">
                            <span>XXXXXXXXXXXXXX</span>
                        </div>
                    </div>
                    <div class="myprofileArea">
                        <div class="ActivitiesRow">
                            <span>XXXXXXXXXXXXXX</span>
                        </div>
                    </div>
                </div> *@
            }
        </main>
    </div>
    </Authorized>
    <NotAuthorized>
        <div class="myprofileLogin">
            <h1>Please Login First</h1>
        </div>
    </NotAuthorized>
</AuthorizeView>







<!-- 編輯個人資料-->
<div class="window @(displayEditProfileWindow ? "window_open" : "")" id="edit_info_window">
    <div class="window_bg" id="edit_info">
        <svg xmlns="http://www.w3.org/2000/svg" width="24.122" height="24.12" viewBox="0 0 24.122 24.12"
            class="window_close" id="edit_info_close" @onclick="()=> displayEditProfileWindow = false">
            <path id="" data-name="合体 5" d="M-12484-1752l-11,11,11-11-11-11,11,11,11-11-11,11,11,11Z"
                transform="translate(12496.062 1764.06)" fill="none" stroke="#e0eeff" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="3" />
        </svg>

        <div class="window_title">
            <p>個人資料編輯</p>
        </div>


    <EditForm Model="@profile" class="window_input_block">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form_row only_show_row">
            <div class="window_row_title only_show_title">遊戲暱稱</div>
            <div class="window_row_show only_show_input" id="edit_name">@AppState.LoginStatus.name</div>
        </div>

        <div class="form_row only_show_row">
            <div class="window_row_title only_show_title">遊戲ID</div>
            <div class="window_row_show only_show_input" id="edit_ID">@AppState.LoginStatus.userID</div>
        </div>
        <div class="form_row only_show_row">
            <div class="window_row_title only_show_title">手機號碼</div>
            <div class="window_row_show only_show_input" id="edit_phone">@AppState.LoginStatus.phone</div>
        </div>

        <div class="form_row">
            <label class="window_row_title" for="edit_realname">姓名</label>
            <div class="window_row_show">
                <input type="text" class="window_input" id="edit_realname" name="edit_realname" placeholder=""required @bind-value="profile.RealName">
            </div>
        </div>

        <div class="form_row">
            <label class="window_row_title title_long" for="">您是否願意接受賽事採訪？</label>
            <div class="window_row_show radio_row_show">
                        <input type="radio" value="m" class="edit_radio" name="iterview" id="iterview_yes"
                               checked="@(selectedBeInterviewed == true)" @onclick="()=>selectedBeInterviewed = true" />
                        <label for="iterview_yes" class="edit_label">願意</label>
                        <input type="radio" value="f" class="edit_radio" name="iterview" id="iterview_no"
                               checked="@(selectedBeInterviewed == false)" @onclick="()=>selectedBeInterviewed = false" />
                        <label for="iterview_no" class="edit_label edit_label2">不願意</label>

            </div>

        </div>


        <div class="form_row">
                    <label class="window_row_title title_long" for="">您是否願意適度公開得獎資訊？</label>
                    <div class="window_row_show radio_row_show">
                        <input type="radio" value="m" class="edit_radio" name="public_info" id="public_info_yes"
                               checked="@(selectedOpenAwardInfo == true)" @onclick="()=>selectedOpenAwardInfo = true" />
                        <label for="public_info_yes" class="edit_label">願意</label>
                        <input type="radio" value="f" class="edit_radio" name="public_info" id="public_info_no"
                               checked="@(selectedOpenAwardInfo == false)" @onclick="()=>selectedOpenAwardInfo = false" />
                        <label for="public_info_no" class="edit_label edit_label2">不願意</label>

                    </div>

        </div>

                <div class="form_row multipleLines_row">
                    <label class="window_row_title multipleLines_label title_long" id="edit_idea" for="">對碰碰蛇的想法</label>
                    <div class="window_row_show">
                        <InputTextArea class="window_input_textarea" cols="30" rows="10" id="edit_idea"
                                       @bind-Value="profile.IdeaOfSnake"></InputTextArea>

                    </div>
                </div>

                <div class="form_row multipleLines_row title_long">
                    <label class="window_row_title multipleLines_label title_long" id="edit_suggest" for="">對亞洲聯賽的建議</label>
                    <div class="window_row_show">
                        <InputTextArea class="window_input_textarea" cols="30" rows="10" id="edit_suggest"
                                       @bind-Value="profile.Recommendation"></InputTextArea>
                    </div>
                </div>

                <div class="form_row">
                    <label class="window_row_title" for="edit_sns">FB / IG連結</label>
                    <div class="window_row_show">
                        <input type="text" class="window_input" id="edit_sns" name="edit_sns" placeholder=""
                               @bind-value="profile.Link">
                    </div>
                </div>


                <div class="form_row multipleLines_row">
                    <label class="window_row_title multipleLines_label" id="edit_content" for="">自我介紹</label>
                    <div class="window_row_show">
                        <InputTextArea class="window_input_textarea" cols="30" rows="10" id="edit_content"
                                       @bind-Value="profile.SelfIntroduction"></InputTextArea>

                    </div>
                </div>


                <div class="form_row">
                    <label class="window_row_title" for="">性別</label>
                    <div class="window_row_show radio_row_show">
                        <input type="radio" value="m" class="edit_radio" name="gender" id="male"
                               checked="@(selectedGender == 'm')" @onclick="()=>selectedGender = 'm'" />
                        <label for="male" class="edit_label">男性</label>
                        <input type="radio" value="f" class="edit_radio" name="gender" id="female"
                               checked="@(selectedGender == 'f')" @onclick="()=>selectedGender = 'f'" />
                        <label for="female" class="edit_label edit_label2">女性</label>

                    </div>

                </div>

                <div class="form_row">
                    <label class="window_row_title" for="edit_birth_date">出生年月日</label>
                    <div class="window_row_show">
                        <InputDate class="window_input" id="edit_birth_date" @bind-Value="profile.DateOfBirth"></InputDate>

                    </div>


                </div>

                <div class="form_row">
                    <label class="window_row_title" for="edit_email">Email</label>
                    <div class="window_row_show">
                        <input type="text" class="window_input" id="edit_email" name="edit_email" placeholder="" required
                               @bind-value="profile.Email">
                    </div>
                </div>

                <div class="form_row">
                    <label class="window_row_title" for="edit_city">城市</label>
                    <div class="window_row_show">
                        <input type="text" class="window_input" id="edit_city" name="" placeholder="" required
                               @bind-value="profile.City">
                    </div>
                </div>



                <div type="text" class="edit_error">紅框欄請填寫資訊</div>

                <div id="edit_info_window_submit" class="window_submit" @onclick="EditProfileSubmit">

                    <img src="/images/Index/signUpEvent_button.png" alt="">
                    <span>儲存</span>

            </div>
        </EditForm>
    </div>
</div>




<!-- 彈窗提示-->
<div class="window @(displayPopupWindow ? "window_open" : "")" id="submit_success_bg">
    <div class="window_bg" id="submit_success">
        <img src="/images/Myaccount/submit_success.png" id="submit_success_icon" alt="">
            <h1>@PopupWindowTitle</h1>
        <span id="submit_success_span">@PopupWindowContent</span>
        <div id="success_window_close" class="window_submit" @onclick="successWindowClose">
            <img src="/images/Index/signUpEvent_button.png" alt="">
                <span>關閉</span>
        </div>
    </div>
</div>









@code {



    //編輯個人資料

    private Profile profile = new Profile();

    bool displayEditProfileWindow = false;

    char selectedGender = 'a';

    bool selectedBeInterviewed;

    bool selectedOpenAwardInfo;



    //Metamask

    bool MetamaskAvailable { get; set; }

    string SelectedAccount { get; set; }

    protected string AuthenticatedAccount { get; set; }
    //彈窗
    bool displayPopupWindow = false;
    string PopupWindowTitle = "";
    string PopupWindowContent = "";


    //private ClaimsPrincipal LoginUser;


    protected override async Task OnInitializedAsync()
    {
        AppState.StateChanged += async (Source, Property)
        => await InvokeAsync(StateHasChanged);
        _metamaskHostProvider.SelectedAccountChanged += MetamaskHostProvider_SelectedAccountChanged;

        displayEditProfileWindow = false;
        //var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        //LoginUser = authState.User;

    }



    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property)
        => await InvokeAsync(StateHasChanged);
        _metamaskHostProvider.SelectedAccountChanged -= MetamaskHostProvider_SelectedAccountChanged;

    }



    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {

        if (Source != this)
        {

            await InvokeAsync(StateHasChanged);

        }



    }



    private async Task EditProfileButtonOnClick()
    {
        //uint userid = Convert.ToUInt32( LoginUser.FindFirst("UserID")?.Value);
        //Profile p = await ProfileService.GetOneProfileByUserId(userid);

        Profile p = await ProfileService.GetOneProfileByUserId((uint)AppState.LoginStatus.userID);

        if (p != null)
        {

            profile = p;



            selectedGender = p.Gender.Value;

            selectedBeInterviewed = p.BeInterviewed;

            selectedOpenAwardInfo = p.OpenAwardInfo;

        }
        else
        {
            selectedBeInterviewed = true;
            selectedOpenAwardInfo = true;
        }

        displayEditProfileWindow = true;

    }



    private async Task EditProfileSubmit()
    {

        //profile.UserName = LoginUser.FindFirst("Name")?.Value;

        profile.UserName = AppState.LoginStatus.name;

        profile.UserId = (uint)AppState.LoginStatus.userID;

        profile.Phone = AppState.LoginStatus.phone;



        profile.Gender = selectedGender;

        profile.BeInterviewed = selectedBeInterviewed;

        profile.OpenAwardInfo = selectedOpenAwardInfo;



        Profile p = await ProfileService.GetOneProfileByUserId((uint)AppState.LoginStatus.userID);

        if (p == null)
        {

            await ProfileService.InsertProfile(profile);

        }
        else
        {

            await ProfileService.UpdateProfile(profile);

        }
        displayEditProfileWindow = false;


    }




    private async Task textCopyClick()
    {
        await JS.InvokeVoidAsync("textCopy");
        await JS.InvokeVoidAsync("copyTip");
    }




    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {




            MetamaskAvailable = await _metamaskHostProvider.CheckProviderAvailabilityAsync();

            StateHasChanged();

            @* await JS.InvokeVoidAsync("myprofileSidebar"); *@
            await JS.InvokeVoidAsync("installI18n");
            await JS.InvokeVoidAsync("afterRender");
        }

    }



    private async Task MetamaskHostProvider_SelectedAccountChanged(string account)
    {

        SelectedAccount = account;

        this.StateHasChanged();

    }



    protected async Task EnableEthereumAsync()
    {

        SelectedAccount = await _metamaskHostProvider.EnableProviderAsync();

        ServerResponce responce = await NFTService.PostNFTWalletAddress(AppState.LoginStatus.userID, SelectedAccount);
        

        //提示訊息
        if (responce.Success && responce.Content == "綁定成功")
        {
            AppState.LoginStatus.walletAddress = SelectedAccount;
            PopupWindowTitle = responce.Content;
            PopupWindowContent = "";

            displayPopupWindow = true;
            await JS.InvokeVoidAsync("installI18n");
        }else if (responce.Success && responce.Content == "已綁定")
        {
            Console.WriteLine(responce.Content);
        }
        else
        {
            PopupWindowTitle = "綁定失敗";
            PopupWindowContent = responce.Content;
            SelectedAccount = "";
            displayPopupWindow = true;
        }

    }


    private void successWindowClose()
    {
        displayPopupWindow = false;
    }


}
